/*
**Fonte defaul
*/
/*Fonte Size*/
/*Line height*/
/*
**Paragraph 1
*/
/*Fonte Size*/
/*Line height*/
/*
**Paragraph 2
*/
/*Fonte Size*/
/*Line height*/
/*
**Paragraph 3
*/
/*Fonte Size*/
/*Line height*/
html {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.66667;
  letter-spacing: -0.02rem;
  color: #212529;
}

h1 {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

h2 {
  font-size: 3.55555556rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

h3 {
  font-size: 1.55555556rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 2;
  letter-spacing: -0.02rem;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: -0.02rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.2777777778;
  border: none;
  cursor: pointer;
}
.btn--small {
  padding-top: 16px;
  padding-bottom: 16px;
}
.btn--medium {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
}
.btn--large {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn--px-small {
  padding-left: 24px;
  padding-right: 24px;
}
.btn--yellow {
  background-color: #FFE492;
  color: #043873;
}
.btn--pad-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.btn--outline-yellow {
  background-color: #FFFFFF;
  border: 1px solid #FFE492;
  color: #212529;
}
.btn--blue {
  background-color: #4F9CF9;
  color: #FFFFFF;
}
.btn--arrow {
  display: flex;
  align-items: center;
}
.btn--arrow::after {
  display: block;
  content: "";
  width: 12px;
  height: 10px;
  margin-left: 10px;
  background: url("../../img/button-arrow.svg") no-repeat;
}

.container {
  max-width: 1544px;
  margin-inline: auto;
  padding: 0 32px;
}

@media screen and (max-width: 1152px) {
  .container br {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 16px;
  }
}
.header {
  height: 92px;
  background-color: #043873;
}
.header__container {
  display: flex;
  align-items: center;
  height: 92px;
}
.header__logo {
  width: 191px;
  height: 34px;
}
.header__navigation {
  margin-right: 60px;
}
.header__list {
  display: flex;
  gap: 71px;
}
.header__item {
  position: relative;
}
.header__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 30px;
}
.header__link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 6.6px;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;
  background: url("../../img/arrow-down.svg") no-repeat;
}
.header__login {
  margin-right: 24px;
}

@media screen and (max-width: 1152px) {
  .header__navigation {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    width: 134px;
    height: 24px;
  }
}
.hero {
  padding: 140px 0;
  background-color: #043873;
  background-image: url(../../img/hero-pattern.svg);
  background-repeat: no-repeat;
  background-position: center 68%;
  background-size: contain;
}
.hero__container {
  display: flex;
  align-items: center;
}
.hero__container-info {
  margin-right: 18px;
}
.hero__title {
  color: #FFFFFF;
}
.hero__description {
  margin-top: 24px;
  color: #FFFFFF;
}
.hero__try {
  margin-top: 60px;
}
.hero__container-img {
  max-width: 824px;
  width: 100%;
  height: 549px;
  background-color: #A7CEFC;
}

@media screen and (max-width: 1440px) {
  .hero__container-img {
    width: 685px;
    height: 456px;
  }
}
@media screen and (max-width: 1200px) {
  .hero__container-img {
    width: 526px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__container-img {
    width: 551px;
    height: 367px;
  }
}
@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero__container-img {
    width: 286px;
    height: 191px;
  }
}
.work-management {
  position: relative;
  padding: 140px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.work-management .project-management__container {
  position: relative;
  display: flex;
  align-items: center;
}
.work-management .project-management__container::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(-32%, 28%);
  width: 603px;
  height: 449px;
  background-image: url(../../img/backgroud.svg);
  background-repeat: no-repeat;
  z-index: 0;
}
.work-management .project-management__container-info {
  margin-right: 60px;
  z-index: 100;
}
.work-management .project-management__title {
  color: #212529;
  position: relative;
  background-image: url(../../img/project-underline.svg);
  background-repeat: no-repeat;
  background-size: 69%;
  background-position: 0 105%;
}
.work-management .project-management__description {
  margin-top: 24px;
  color: #212529;
}
.work-management .project-management__get-started {
  margin-top: 60px;
}
.work-management .project-management__container-img {
  max-width: 748px;
  width: 100%;
  height: 547px;
  background-color: #A7CEFC;
}
.work-management .work-together__container {
  position: relative;
  display: flex;
  align-items: center;
}
.work-management .work-together__container-img {
  display: block;
  max-width: 710px;
  width: 100%;
  height: 661px;
}
.work-management .work-together__container-info {
  margin-left: 100px;
}
.work-management .work-together__title {
  color: #212529;
  position: relative;
  background-image: url(../../img/work-underline.svg);
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: 204px 95%;
}
.work-management .work-together__description {
  margin-top: 24px;
  color: #212529;
}
.work-management .work-together__try {
  margin-top: 60px;
}

.use {
  position: relative;
  padding: 140px 0;
  background-color: #043873;
}
.use__container {
  position: relative;
  display: flex;
  align-items: center;
}
.use__container-info {
  margin-right: 98px;
}
.use__title {
  color: #FFFFFF;
  position: relative;
  background-image: url(../../img/extention-underline.svg);
  background-repeat: no-repeat;
  background-size: 57%;
  background-position: 166px 162%;
}
.use__description {
  margin-top: 24px;
  color: #FFFFFF;
}
.use__btn-go {
  margin-top: 60px;
}
.use__container-img {
  max-width: 686px;
  width: 100%;
  height: 479px;
  background-color: #A7CEFC;
}

.footer {
  padding: 140px 0 32px 0;
  background-color: #043873;
}
.footer__container {
  display: flex;
  padding-bottom: 62px;
  border-bottom: 1px solid #2E4E73;
}
.footer__logo {
  flex: 0 0 240px;
  margin-right: 60px;
}
.footer__icon-logo {
  width: 191px;
  height: auto;
}
.footer__description {
  margin-top: 8px;
  color: #FFFFFF;
}
.footer__navigation {
  flex: 0 0 206px;
  margin-right: 100px;
}
.footer__navigation:last-of-type {
  margin-right: 0;
}
.footer__navigation-title {
  font-weight: 700;
  color: #FFFFFF;
}
.footer__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
.footer__navigation-link {
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 1.25;
  color: #FFFFFF;
}
.footer__navigation-link:hover {
  color: #FFE492;
}
.footer__wrap-try {
  flex: 0 0 259px;
}
.footer__wrap-title {
  font-weight: 700;
  font-size: 1.55555556rem;
  line-height: 2;
  color: #FFFFFF;
}
.footer__wrap-description {
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 1.25;
  color: #FFFFFF;
  margin-top: 23px;
}
.footer__wrap-start {
  margin-top: 23px;
}
.footer .terms {
  height: 20px;
}
.footer .terms__container {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 32px;
}
.footer .terms__list {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.footer .terms__items {
  position: relative;
}
.footer .terms__items:first-child {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
}
.footer .terms__items:first-child::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  transform: translateY(-50%);
  top: 50%;
  left: 0px;
  background: url("/img/global.svg") no-repeat center/contain;
}
.footer .terms__items:first-child::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 20px;
  transform: translateY(-50%);
  top: 50%;
  right: -24px;
  background: url("/img/arrow-down.svg") no-repeat center/contain;
}
.footer .terms__link {
  color: #FFFFFF;
  text-decoration: none;
}
.footer .terms__icons-list {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 105px;
  list-style: none;
}
.footer .terms__icon-items {
  display: flex;
}
.footer .terms__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .terms__icon {
  display: block;
  height: 17px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.pricing {
  position: relative;
  padding: 140px 0;
  background-color: #FFFFFF;
  /* Active Cart */
}
.pricing__container-info {
  margin-right: 18px;
}
.pricing__title {
  position: relative;
  text-align: center;
  color: #212529;
  z-index: 1;
}
.pricing__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50px;
  transform: translate(-15px, 20px);
  width: 320px;
  height: 50px;
  background-image: url(../../img/plan-underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.pricing__description {
  text-align: center;
  margin-top: 24px;
  color: #212529;
}
.pricing__plan-slider {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 60px;
}
.pricing__plan {
  padding: 40px 44px;
  border: 1px solid #FFE492;
  border-radius: 10px;
}
.pricing__plan-type {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1.333333333rem;
  line-height: 2;
}
.pricing__plan-cost {
  margin-bottom: 25px;
}
.pricing__plan-description {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2777777778;
}
.pricing__plan-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.pricing__plan-item {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 1.25;
}
.pricing__plan-item::before {
  content: "";
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  margin-right: 20px;
  background-image: url(../../img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.pricing__get-started {
  margin-top: 25px;
}
.pricing__plan--active {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #043873;
}
.pricing__plan--active .pricing__plan-cost {
  color: #FFE492;
}
.pricing__plan--active .pricing__plan-type, .pricing__plan--active .pricing__plan-description, .pricing__plan--active .pricing__plan-list, .pricing__plan--active .pricing__plan-item {
  color: #FFFFFF;
}
.pricing__plan--active .pricing__get-started {
  background-color: #4F9CF9;
  color: #FFFFFF;
  border: none;
}
.pricing__plan--active .pricing__plan-item::before {
  content: "";
  background-image: url(../../img/yellow-check.svg);
}

@media screen and (max-width: 860px) {
  .pricing__plan-container {
    display: block;
    position: relative;
    width: 100%;
    height: 752px;
    overflow: hidden;
  }
  .pricing__plan-slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: auto;
  }
  .pricing__plan {
    width: 472px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .pricing__plan:nth-child(1) {
    transform: translate(-155%, 0);
  }
  .pricing__plan:nth-child(3) {
    transform: translate(55%, 0);
  }
}
.ml--auto {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */