@use "../base" as *;

.btn {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  font-size: $p2MediumFonteSize;
  line-height: $p2MediumLineHeight;
  border: none;
  cursor: pointer;

  &--small {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &--medium {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }
  &--large {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &--px-small {
    padding-left: 24px;
    padding-right: 24px;
  }
   &--yellow {
    background-color: $colorYellow;
    color: $primaryColorDark;
   }

   &--blue {
     background-color: $primaryColorLight;
      color: $colorWhite;
   }
   &--arrow {
    display: flex;
    align-items: center;
      &::after {
        display: block;
        content: "";
        width: 12px;
        height: 10px;
        margin-left: 10px;
        background: url("../../img/button-arrow.svg") no-repeat;
      }
   }
}