@use "./variables" as *;

html {
  font-size: $fontSize;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $colorBlack;
}
h1 {
  font-size: $H1FonteSize;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: $H1LineHeight;
  letter-spacing: $letterSpacing;
}
h2 {
  font-size: $H2FonteSize;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: $H2LineHeight;
  letter-spacing: $letterSpacing;
}
h3 {
  font-size: $H5FonteSize;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: $H5LineHeight;
  letter-spacing: $letterSpacing;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: $p2RegularFonteSize;
  line-height: $p2RegularLineHeight;
  letter-spacing: $letterSpacing;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}