@use "../base" as *;

.header {
  background-color: $primaryColorDark;
  &__logo {
    width: 191px;
    height: 34px;
  }
    &__list {
      display: flex;
      gap: 71px;
    }
    &__item {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 6.6px;
        transform: translate(30px, -50%);
        top: 50%;
        right: 0;
        background: url("../../img/arrow-down.svg") no-repeat;
      }

    }
    &__link  {
      color: $colorWhite;
      text-decoration: none;
    }
    // &__login
    // &__try
}


// .btn {
// }