@use "../base" as *;

.header {
  height: 92px;
  background-color: $primaryColorDark;

  &__container {
    display: flex;
    align-items: center;
    height: 92px;
  }

  &__logo {
    width: 191px;
    height: 34px;
  }

  &__navigation {
    margin-right: 60px;
  }

  &__list {
    display: flex;
    gap: 71px;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: $colorWhite;
    text-decoration: none;
    padding-right: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 6.6px;
      transform: translate(0, -50%);
      top: 50%;
      right: 0;
      background: url("../../img/arrow-down.svg") no-repeat;
    }
  }

  &__login {
    margin-right: 24px;
  }
}


@include media-down(lg) {
  .header {
    &__navigation {
      display: none;
    }
  }


}

@include media-down(sm) {
  .header {
    &__logo {
      width: 134px;
      height: 24px;
    }
  }
}