@use "../base/" as *;

.hero {
  padding: 140px 0;
  background-color: $primaryColorDark;
  background-image: url(../../img/hero-pattern.svg);
  background-repeat: no-repeat;
  background-position: center 68%;
  background-size: contain;

  &__container {
    display: flex;
    align-items: center;
  }
  &__container-info {
    margin-right: 18px;
  }
  &__title {
    color: $colorWhite;
  }
  &__description {
    margin-top: 24px;
    color: $colorWhite;
  }
 
  &__try {
    margin-top: 60px;
  }
  &__container-img {
    max-width: 824px;
    width: 100%;
    height: 549px;
    background-color: $colorBlue;
  }

}


@include media-down(xxl) {
  .hero {
    &__container-img {
      width: 685px;
      height: 456px;
    }
  }
}
@include media-down(xl) {
  .hero {
    &__container-img {
      width: 526px;
      height: 350px;
    }
  }
}

@include media-down(md) {
  .hero {
    &__title  {
      font-size: $H3FonteSize;
    }

    &__container-img {
      width: 551px;
      height: 367px;
    }
  }
}
@include media-down(sm) {
  .hero {
    &__title  {
      font-size: $H4FonteSize;
    }
    &__container-img {
      width: 286px;
      height: 191px;
    }
  }
}